
<form action="/adm" method="POST" class="form">
  <div class="form-group">
    <label for="campoCodigoAcesso">Código de Acesso:</label>
    <input type="password" class="form-control" id="campoCodigoAcesso" name="codigo" placeholder="Digite o código de acesso">
  </div>
  <button type="submit" class="btn btn-primary">Cadastrar</button>
</form>