<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <h1>Cadastrar Apresentação</h1>
        <form action="/apresentacaoCreate" method="post">
            <div class="form-group">
                <label for="nomeMusica">Nome da Música</label>
                <input type="text" class="form-control" id="campoNomeMusica" name="nomeMusica">
            </div>
            <div class="form-group">
                <label for="campoParticipanteUm">Participante 1</label>
                <input type="text" class="form-control" id="campoParticipanteUm" name="participante_um">
            </div>
            <div class="form-group">
                <label for="campoParticipanteDois">Participante 2</label>
                <input type="text" class="form-control" id="campoParticipanteDois" name="participante_dois">
            </div>
            <div class="form-group">
                <label for="campoParticipanteTres">Participante 3</label>
                <input type="text" class="form-control" id="campoParticipanteTres" name="participante_tres">
            </div>
            <div class="form-group">
                <label for="campoParticipanteQuatro">Participante 4</label>
                <input type="text" class="form-control" id="campoParticipanteQuatro" name="participante_quatro">
            </div>
            <div class="form-group">
                <label for="campoParticipanteCinco">Participante 5</label>
                <input type="text" class="form-control" id="campoParticipanteCinco" name="participante_cinco">
            </div>

            <button type="submit" class="btn btn-dark">Cadastrar</button>
        </form>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>